<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestros clientes</h2>
                    <h3 class="section-subheading text-muted">Estas son algunas opiniones reales de nuestros clientes.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Horacio</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Gracias a Oh mi HAD! de Prodevelio todos mis cultivos de algodón están perfectamente irrigados por pívot con la evapotranspiración y los triglicéridos bajo mínimos! Las Fallas a tope!!!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2013</h4>
                                    <h4 class="subheading">Yeray</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mis embarcaciones de recreo seguras con oh my autoridad portuaria! Además recibo notificaciones cuando se acerca algún lladre o filldeputa!!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Nicanor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mi sistema de información geográfica 3D IoT enabled deep learner in da cloud al alcance de mi mano con mi HP Pocket con Windows CE (La community edition, la buena, no la facha)</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Sé parte
                                    <br>de nuestra
                                    <br>historia!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>